AgenteServiciosPlanificacion/Connected Services/ServiciosWebGenericas/ServiciosWebGenericasManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws-desarrollo/ServiciosWebGenericasSqlServer/ServiciosWebGenericasManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" />
  <xs:import schemaLocation="http://ws-desarrollo/ServiciosWebGenericasSqlServer/ServiciosWebGenericasManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" />
  <xs:element name="EjecutarSPArrayByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q1:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPArrayByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPArrayByteResult" nillable="true" type="q2:CResultadoArrayByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q3:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPDateTimeResult" nillable="true" type="q4:CResultadoDateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPDecimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q5:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPDecimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPDecimalResult" nillable="true" type="q6:CResultadoDecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q7:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPIntResult" nillable="true" type="q8:CResultadoInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPJsonDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q9:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPJsonDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPJsonDocumentResult" nillable="true" type="q10:CResultadoJsonDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q11:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPStringResult" nillable="true" type="q12:CResultadoString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPXmlDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Parametro" minOccurs="0" name="lEParametros" nillable="true" type="q13:ArrayOfCEParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarSPXmlDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UVNetDTOs.DTOsGenericas.Resultado" minOccurs="0" name="EjecutarSPXmlDocumentResult" nillable="true" type="q14:CResultadoXmlDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>